
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

/* header */

/* body */
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  line-height: 1.1;
  color: #8A29BE;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #262626;
}

body {
  font-family: 'Roboto', sans-serif;
}